<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="close()" ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ musician.user_name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card style="margin: 0 !important; margin-bottom: 10px !important; width: 100% !important">
    <img src="assets/imgs/adam.png"/>
    <ion-card-content>
      <ion-card-title>
        {{ musician.user_name }}
      </ion-card-title>
      <p>{{ musician.user_brief }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="musician.user_description">
    <ion-card-content>
      <ion-card-title>
        Description
      </ion-card-title>
      <p>
        {{ musician.user_description }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="events.length > 0">
      <ion-card-content>
        <ion-card-title>
          Upcoming Events
        </ion-card-title>
        <ion-list>
          <ion-item *ngFor="let event of events; let i = index">
            <ion-thumbnail item-start>
              <img [src]="'assets/imgs/' + eventImgs[i % 4]">
            </ion-thumbnail>
            <h2>{{ event.event_off_band_size }}</h2>
            <p [innerHTML]="event.event_press_release_full.substr(0, 30) + '...'"></p>
            <button ion-button outline item-end>View</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
